os: linux
sudo: required
language:
- minimal
services:
- docker

jobs:
  include:
  - name: "tests"
    script:
    - docker run -v `pwd`:`pwd` -w `pwd` -t rusdevops/bootstrap-cpp scripts/tests.sh
  - name: "coverage"
      script:
        - docker run -v `pwd`:`pwd` -w `pwd` -t rusdevops/bootstrap-cpp scripts/coverage.sh

notifications:
    email: false

